<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newness.efficient.attendance.leave.mapper.LeaveMapper">

    <insert id="saveLeave">
        insert into atd_leave (leave_id, username, leave_type, start_date, end_date, reason, approve_state, duration,
                               create_time)
        values (#{leaveId}, #{username}, #{leaveType}, STR_TO_DATE(#{startDate}, '%Y-%m-%d %H:%i:%s'),
                STR_TO_DATE(#{endDate}, '%Y-%m-%d %H:%i:%s'), #{reason}, 1, #{duration}, now())
    </insert>

    <update id="updateProcess">
        update atd_leave_process
        set approver      = #{approver},
            process_state = #{processState}
        where process_id = #{processId}
    </update>

    <select id="getLeaveInfo" resultType="java.util.Map">
        select leave_id,
        username,
        leave_type,
        date_format(start_date, '%Y-%m-%d %H:%i:%s') start_date,
        date_format(end_date,'%Y-%m-%d %H:%i:%s') end_date,
        reason,
        approve_state,
        duration,
        create_time
        from atd_leave
        where approve_state = 1
        <if test="username != null and username != ''">
            username = #{username}
        </if>
        <if test="date != null and date != ''">
            #{date} between date_format(start_date, '%Y-%m') and date_format(end_date, '%Y-%m')
        </if>
        <if test="yearMonth != null and yearMonth != ''">
            date_format(start_date, '%Y-%m') &lt;= #{yearMonth} &lt;= date_format(end_date, '%Y-%m')
        </if>
    </select>
</mapper>
