<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newness.efficient.attendance.user.mapper.UserMapper">

    <select id="getUsers" resultType="com.newness.efficient.attendance.user.bo.Personnel">
        select user_id, user_name, full_name, description, state, DATE_FORMAT(entry_date,'%Y-%m-%d') entry_date
        from sys_user
        <where>
            <if test="name != null and name != ''">
                and instr(user_name, #{name}) > 0
                or instr(full_name, #{name}) > 0
            </if>
            <if test="state != null and state != ''">
                and state = ${state}
            </if>
        </where>
    </select>

    <select id="getUsersGrid" resultType="java.util.Map">
        select u.user_id,
               u.user_name,
               full_name,
               u.description,
               cast(u.state as char(1)) state,
               d.value                             state_name,
               DATE_FORMAT(entry_date, '%Y-%m-%d') entry_date,
               c.role_names,
               c.role_descriptions
        from sys_user u
                 left join sys_dictionary d
                           on d.code = u.state
                               and d.enable = 1
                               and d.type = 'staff_state'
                 left join (select sru.user_name,
                                   group_concat(sru.role_name)    role_names,
                                   group_concat(sr.description) role_descriptions
                            from sys_role_user sru
                                     left join sys_role sr on sru.role_name = sr.role_name
                            group by sru.user_name) c
                           on c.user_name = u.user_name
    </select>

    <select id="getRoleUser" resultType="java.util.Map">
        select sru.user_name, group_concat(sru.role_name), group_concat(sr.description)
        from sys_role_user sru
                 left join sys_role sr on sru.role_name = sr.role_name
        group by sru.user_name
    </select>
    <select id="getUsersByRole" resultType="java.util.Map">
        select su.user_name, su.full_name
        from sys_user su
                 left join sys_role_user sru
                           on su.user_name = sru.user_name
                 left join sys_role sr on sru.role_name = sr.role_name
        where sr.role_name = #{role}
    </select>

</mapper>
